body {
    padding: 0;
    margin: 0;
}
.admin-menu-logo {
    padding: 30px 20px;
    font-size: 20px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.admin-container {
    display: flex;
    height: 100vh;
    font-family: 'Open Sans', sans-serif; /* Áp dụng Open Sans */
    background-color: #000000;
    color: #000000;
}

.admin-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    width: 16%;
    background-color: #000;
    top: 0;
    left: 0;
    bottom: 0;
}

.admin-menu li {
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.admin-menu li:last-child {
    border-bottom: none; /* Loại bỏ đường kẻ ở phần tử cuối */
}

.admin-menu li:hover {
    background-color: rgba(39, 39, 39, 0.8);
    border-left: 4px solid #ff0000; /* Thêm đường kẻ bên trái */
    padding-left: 11px; /* Điều chỉnh padding để giữ văn bản không bị lệch */
}

.admin-menu li.active {
    background-color: rgba(39, 39, 39, 0.8); /* Màu nền cho mục đang mở */
    border-left: 4px solid #ff0000; /* Đường kẻ bên trái khi mục mở */
    padding-left: 11px; /* Giữ căn lề */
}

/* Content area styles */
.admin-content {
    padding: 40px 40px 40px 18%;
    width: 84%;
    flex-grow: 1;
    background-color: #f4f6f9;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600; /* Áp dụng Open Sans bold */
}

.admin-content p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

/* Submenu styles */
.admin-submenu {
    list-style: none;
    padding-left: 20px; /* Thụt vào cho các mục con */
    margin: 5px 0 10px;
}

.admin-submenu li {
    padding: 8px 15px;
    font-size: 14px;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.admin-submenu li:hover {
    background-color: rgba(75, 110, 168, 0.2);
    border-left: 3px solid #4b6ea8; /* Đường kẻ bên trái khi hover */
}
